# JetBrains IDEs
.idea/

# VisualStudioCode
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
docker/

# Environments
.env
.env.example

# Project Files
.editorconfig
.gitignore
